/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}

h1, h2, h3 {
    color: #A7ADC6;
}

a {
    color: #5F4B66;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Header Styles */
header {
    background-color: #5F4B66;
    color: white;
    padding: 20px 0;
    text-align: center;
    border-bottom: 5px solid #2C1320;
}

header h1 {
    margin: 0;
}

/* Navigation Styles */
nav {
    background-color: #2C1320;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav a:hover {
    background-color:#5F4B66;
}

/* Main Content Styles */
main {
    padding: 20px;
    max-width: 1000px;
    margin: auto;
}

/* Intro Section */
#home {
    text-align: center;
    padding: 20px;
}

#home img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Form Styles */
.form-container {
    background-color: white;
    padding: 20px;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

form input[type="submit"] {
    background-color:#5F4B66;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

form input[type="submit"]:hover {
    background-color: #5F4B66;
}

/* Footer Styles */
footer {
    background-color: #2C1320;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Responsive Design */
@media (max-width: 768px) {
    nav a {
        float: none;
        width: 100%;
        text-align: left;
        padding-left: 20px;
    }

    .form-container {
        padding: 15px;
    }

    #home img {
        width: 90%;
    }
}